.popup__title {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21em;
  padding-bottom: 50px;
}

@media screen and (max-width: 550px) {
  .popup__title {
    font-size: 18px;
    padding-bottom: 76px;
  }
}
