.element {
  background-color: #fff;
  max-width: 282px;
  border-radius: 10px;
  row-gap: 24px;
  padding-bottom: 25px;
  position: relative;
  display: grid;
  grid-template-areas:
    'picture picture'
    'topic like';
}
