.header__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 51px;
  margin: 0;
  opacity: 1;
  transition: opacity 0.2s ease 0.1s;
  text-decoration: none;
  color: white;
  text-decoration: none;
}

.header__menu:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .header__menu {
    padding-right: 30px;
    font-size: 14px;
    line-height: 16.94px;
    padding-top: 34px;
  }
}
