.popup__button-exit {
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(../../../images/close-icon.svg);
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  opacity: 1;
  transition: opacity 0.2s ease 0.1s;
}

.popup__button-exit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__button-exit {
    background-image: url(../../../images/close-icon-mobile.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
